footer {
    background-color: var(--purple);
    color: var(--white);
    padding: 120px 0;

}

footer .inner-con {
    gap: 30px;
}

.footer-navbar {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.footer-nav a {
    color: white;
    width: fit-content;
    transition: all 0.4s ease;
}

.footer-nav a:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}

footer i {
    font-size: 24px;
    color: var(--white);
    transition: all 0.4s ease;

}

.logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-container img {
    height: 70px;
    object-fit: cover;
    object-position: right;
}

.copyright-container {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--white);
}

.copyright-container p,
.copyright-container a {
    font-size: 12px;
    color: var(--white);
}

.copyright-container nav a {
    text-decoration: underline;
    color: var(--white);
}

.copyright-container nav a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.scroll-up {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    bottom: 40px;
    z-index: 10;
    right: 40px;
    transform: translateY(90px);
    transition: all 0.6s ease;
    scale: 0.6;
}

.scroll-up.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    scale: 1.2;

}

.scroll-up:hover {
    transform: translateY(-5px);
}

.scroll-up i {
    font-size: 20px;
    color: var(--white);
    background-color: var(--orange);
    padding: 8px;
    border-radius: 4px;
    border: none;
}

@media(max-width:768px) {
    footer {
        padding: 40px 30px;
    }

    .footer-left,
    .footer-right {
        width: 45%;
    }

    .footer-nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .footer-nav a {
        padding: 0 6px;
    }

    .copyright-container {
        justify-content: space-between;
    }

    .copyright-container p {
        width: 45%;
    }

    .copyright-container .footer-nav {
        width: 45%;
        flex-wrap: wrap;
        gap: 5px 25px;
    }

}